{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}">
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
<h3><span style="color: #666699;"><strong><a style="color: #666699;" href="{{ site.url }}/articles/2020-04/member-list">Member</a></strong></span></h3>
</li>
    <h3><span style="color: #666699;"><strong><a style="color: #666699;" href="{{ site.url }}/articles/2020-04/Publications">Publications</a></strong></span></h3>
</li>
  <h3><span style="color: #666699;"><strong><a style="color: #666699;" href="{{ site.url }}/articles/2020-04/Projects">Projects</a></strong></span></h3>
</li>
      {% for page in site.pages %} {% if page.title %}
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
</div>
