.prof-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.profile {

}

.mem-container {
	width: 100%;
  display: inline-grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap	: 30px;

}
